workflows/qr-onboard.json
{
  "name": "AXA QR Onboarding Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "axa-client-onboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook - New AXA Client",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "new-axa-client"
    },
    {
      "parameters": {
        "url": "http://localhost:8000/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonParameters": true,
        "parameters": {
          "user_id": "={{ $json.user_id }}",
          "axa_id_url": "={{ $json.axa_id_url }}",
          "contact": "={{ $json.contact }}",
          "output_format": "png"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Generate QR Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "={{ $json.github_owner || 'your-org' }}",
        "repository": "={{ $json.github_repo || 'axa-qr-mvp' }}",
        "filePath": "qr-codes/{{ $('Generate QR Code').first().json.user_id }}.png",
        "fileContent": "={{ $binary.data }}",
        "commitMessage": "Add QR code for user {{ $('Generate QR Code').first().json.user_id }}",
        "additionalParameters": {
          "branch": "main"
        }
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Commit to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "channel": "#axa-onboarding",
        "text": "🎉 New AXA client onboarded successfully!\n\n*User ID:* {{ $('Generate QR Code').first().json.user_id }}\n*QR Code:* {{ $('Generate QR Code').first().json.file_url }}\n*GitHub:* https://github.com/{{ $json.github_owner || 'your-org' }}/{{ $json.github_repo || 'axa-qr-mvp' }}/blob/main/qr-codes/{{ $('Generate QR Code').first().json.user_id }}.png",
        "otherOptions": {}
      },
      "id": "d4e5f6g7-h8i9-0123-defg-456789012345",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"success\",\n  \"message\": \"AXA client onboarded successfully\",\n  \"user_id\": $('Generate QR Code').first().json.user_id,\n  \"qr_file_url\": $('Generate QR Code').first().json.file_url,\n  \"timestamp\": $now\n} }}"
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-567890123456",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - New AXA Client": {
      "main": [
        [
          {
            "node": "Generate QR Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate QR Code": {
      "main": [
        [
          {
            "node": "Commit to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit to GitHub": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "axa-qr-onboarding",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "axa",
      "name": "axa"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z", 
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "onboarding",
      "name": "onboarding"
    }
  ]
}